@import "../../variables.css";

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    width: 100%;
    padding: 32px 20vw 32px 32px;
    z-index: 0;
    position: relative;
}

.container {
    position: relative;
    max-width: 832px;
    
    background: var(--gradient-dark);
    border: 2px solid var(--color-dark);
    box-shadow: 1px 1px 2px #000;
    border-radius: 16px;

    padding: 32px;
    z-index: 1;
}

.title {
    font-size: 2rem;
    font-weight: 500;
}

.content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.aboutImg {
    position: absolute;
    left: 70vw;
    top: 64px;
    z-index: -1;
    width: 384px;

    animation-name: floating;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-duration: 6s;
}

@keyframes floating {
    0% {
        transform: translate(0, -10px);
    }
    50% {
        transform: translate(0, 10px);
    }
    100% {
        transform: translate(0, -10px);
    }
}

.cardList {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    padding: 32px 0;
    gap: 32px;
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    padding: 16px 32px;

    background: var(--gradient-card);
    background-size: 0 100%;
    background-repeat: no-repeat;
    border-radius: 16px;
    border: 2px solid var(--color-dark);
    transition: 0.4s;
}
.card:hover { 
    border: 2px solid var(--color-secondary);
    background-size: 100% 100%;
}

.cardImg {
    width: 64px;
    height: 64px;
    min-width: 64px;
    color: var(--color-primary);
}

.cardText {
    text-align: left;
    font-size: 1.25rem;
}

@media screen and (max-width: 1110px) {
    .about {
        padding: 32px;
    }

    .aboutImg {
        position: absolute;
        z-index: -1;
        right: 10%;
        top: -64px;
        width: 25%;
        min-width: 128px;
    }

    .container {
        padding: 0px;
        background: none;
        border: none;
        box-shadow: none;
    }

    .content {
        padding: 32px;
    }

    .cardList {
        width: 100%;
    }

    .card {
        background-size: 100% 100%;
        background: var(--gradient-card-inverse);
    }
}

@media screen and (max-width: 580px) {
    

    .card {
        flex-direction: column;
    }

    .cardText {
        font-size: 1rem;
    }

    .content {
        padding: 0;
    }

    .aboutImg {
        top: -32px;
        right: -16px;
    }

    .cardImg {
        width: 32px;
        height: 32px;
        min-width: 32px;
    }
}