@import "../../variables.css";

.experiences {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 0;
}

.title {
    text-align: center;
    font-weight: 500;
    font-size: 2.5rem;
}

.cardsContainer {
    width: 100%;
    max-width: 1024px;
    padding: 64px 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.expCard {
    padding: 32px;
    background: var(--gradient-dark);
    border: 2px solid var(--color-dark);
    box-shadow: 1px 1px 2px #000;
    border-radius: 16px;

    margin: 8px;
    transition: all 0.4s ease-out;

    display: flex;
    gap: 32px;
}

.expCard:hover {
    margin: 0;
    padding: 40px;
    border: 2px solid var(--color-primary);
    box-shadow: 0px 0px 16px var(--color-primary);
}

.expCard img {
    width: 64px;
    height: 64px;
}

.cardContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.cardTitle {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.cardTitle h2 {
    font-weight: 500;
    font-size: 1.75rem;
}

.cardAssignments {
    font-size: 1.25rem;
    list-style: disc;
    margin-left: 32px;
}

.websiteBtn {
    text-decoration: underline;
    font-size: 1.25rem;
    margin-left: auto;
}

@media screen and (max-width: 800px) {
    .cardsContainer {
        padding: 8px;
    }

    .expCard {
        flex-direction: column;
        font-size: 0.75rem;
        padding: 16px;
    }

    .cardTitle {
        flex-direction: column;
        color: #ccc;
    }

    .cardTitle h2 {
        font-size: 1.25rem;
        color: #fff;
    }

    .cardAssignments {
        font-size: 1rem;
        margin-left: 16px;
    }
}